<h1>Welcome!</h1>
<p>Welcome to ZAP, the online miniature painting journal! Have you ever painted a wonderful unit, only to put it up on the shelf for months? And then, when you go back to paint him a friend (or two, or ten, or a hundred) you've found that you can't remember what colors you used to get that really kewl effect and waste time and paint making test miniatures to duplicate what you've already done? ZAP is the solution to that, sign up, start creating units and record the colors you used and leave worry behind!</p>
<%= link_to "Create Unit", new_unit_path %> 
