<h1> Your Units </h1> 
<table> 
<tr>
    <th> Name </th> 
    <th> Description </th> 
</tr>
<% if @units then%>
<% @units.each do |unit| %> 
<tr>
<td><%= image_tag unit.photo.url(:thumb) %> </td>
<td><%= link_to unit.name, edit_unit_path(unit) %></td>
<td><%= unit.descr %></td>
<td><%= link_to 'Destroy This Unit', unit_path(unit), method: :delete, data: {confirm: 'Really delete?'} %> </td>
</tr>
<% end %>
<% else %> 
You don't seem to have any units to show
<% end %> 
</table>