<p>
<strong> Unit: </strong> 
<%= @unit.name %> 
<%= image_tag @unit.photo.url(:square) %>
</p> 

<p> 
<strong>Description:</strong> 
<%= @unit.descr %> 
</p>
<%= link_to 'Edit This Unit', edit_unit_path(@unit) %>
